<!DOCTYPE html>
<html ng-app="functionsExample">

<head>
  <title>functions</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <!-- angular.bind  no example-->


  <!-- example 1: angular bootstrap -->
  <!-- <div ng-controller="WelcomeController">
    {{greeting}}
  </div>
 -->
  
  
  <!-- example 2: angular.copy -->
  <div ng-controller="CopyController">
    <form>
      <label>Name:</label><input type="text" ng-model="user.name"><br>
      <label>Age:</label><input type="text" ng-model="user.age"><br>
      <label>Gender:</label>
      <input type="radio" value="male" ng-model="user.gender">
      <input type="radio" value="female" ng-model="user.gender"><br>
      <input type="button" value="RESET" ng-click="reset()">
      <input type="button" value="SAVE" ng-click="save()">
    </form>

    <pre>form = {{user | json}}</pre>
    <pre>master = {{master | json}}</pre>
  </div>
  
  <hr>
  <!-- angular.element  no example -->


  <!-- example 3: angular.equals -->
  <div ng-controller="EqualsController">
    <form>
      <h3>User 1</h3>
      <label>Name:</label><input type="text" ng-model="user1.name"><br>
      <label>Age:</label><input type="text" ng-model="user1.age">
      <h3>User 2</h3>
      <label>Name:</label><input type="text" ng-model="user2.name"><br>
      <label>Age:</label><input type="text" ng-model="user2.age"><br>
      <input type="button" value="Compare" ng-click="result = compare()">
    </form>
    <pre>{{ user1 | json }}</pre>
    <pre>{{ user2 | json }}</pre>
    <!-- 一下这种写法需要在上面ng-click上面命名一个result并给它赋值。或者改写controller里面
    的函数，将对比结果赋给一个变量result
    同时也可以使用这种形式的绑定：compare result: {{ compare() }} -->
    <pre>compare result: {{ result }}</pre>
  </div>


  <hr>
  <!-- example 4 angular.extend -->
  <div ng-controller="ExtendController">
    <form>
      <label>User1:</label><input type="text" ng-model="users.user1"><br>
      <label>User2:</label><input type="text" ng-model="users.user2"><br>
      <label>User3:</label><input type="text" ng-model="users.user3">
      <div>{{ users }}</div>
    </form>
  </div>
  <hr>



  <!-- example 5 angular.forEach -->
  <!-- angular.forEach(obj, iterator, [context]); -->
  <div ng-controller="ForEachController">{{log}}</div>
  <hr>


  <!-- example 6 angular.fromJson -->
  <div ng-controller="FromJsonController">
    It is {{typeOrigin}}: {{jsonExample}} <br> 
    It is {{typeConvert}}: {{jsonValue}}
  </div>



  <!-- example 7 angular.identity -->
  <div ng-controller="IdentityExample"></div>


  <!-- angular.isArray -->
  <!-- angular.isDate -->
  <!-- angular.isDefined -->
  <!-- angular.isElement -->
  <!--  angular.isFunction -->
  <!-- angular.isNumber This includes the "special" numbers NaN, +Infinity and -Infinity. -->
  <!-- angular.isObject   nulls are not considered to be objects in this function -->
  <!-- angular.isString -->
  <!-- angular.isUndefined -->


  <script type="text/javascript" src="../scripts/angular.js"></script>
  <script type="text/javascript" src="../scripts/angular-route.js"></script>
  <script type="text/javascript" src="script.js"></script>
</body>

</html>















