<!DOCTYPE html>
<html ng-app="ngModelExample">

<head>
  <title>ngModel</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <!-- example 1  ngModel checkbox -->
  <div class="checkboxModel" ng-controller="CheckboxController">
    <span>Value1:</span><input type="checkbox" ng-model="booleanValue"><br>
    <span>Value2:</span>
    <input type="checkbox" ng-model="secondValue" ng-true-value="'YES'" ng-false-value="'NO'"><br>
    
    <p>value1 = <span>{{ booleanValue }}</span></p>
    <p>value2 = <span>{{ secondValue }}</span></p>    
  </div>

  <br>
  <br>
  <hr>

  <!-- example 2  ngModel text -->
  <form name="myForm" ng-controller="InputTextController">
    <span>Single word:</span>
      <input name="input" type="text" ng-model="example.text" ng-pattern="example.word" required 
      ng-trim="false"><br>
    <div role="alert">
      <span ng-show="myForm.input.$error.required">Required!</span>
      <span ng-show="myForm.input.$error.pattern">Single Word only!</span>      
    </div>
    <span>text = {{ example.text }}</span><br>
    <span>myForm.input.$valid = {{ myForm.input.$valid }}</span><br>
    <span>myForm.input.$error = {{ myForm.input.$error }}</span><br>
    <span>myForm.$valid = {{ !!myForm.$valid }}</span><br>
    <span>myForm.$error.required = {{ !!myForm.$error.required }}</span>
  </form>
  <br>
  <br>
  <hr>

  <!-- HTML input element control. When used together with ngModel, it provides data-binding,
  input state control, and validation. Input control follows HTML input types and poyfills the 
  HTML5 validation behavior for older browsers. -->
  <div ng-controller="InputController">
    <form name="inputForm">
      <label>
        User name:
          <input type="text" name="userName" ng-model="inputExample.name" required>
      </label>
      <div>
        <span ng-show="inputForm.userName.$error.required">Reuqired!</span>        
      </div>
      <label>
        Last name:
          <input type="text" name="lastName" ng-model="inputExample.last" 
          ng-minlength="3" ng-maxlength="10">
      </label>
      <div>
        <span ng-show="inputForm.lastName.$error.minlength">Too short!</span>
        <span ng-show="inputForm.lastName.$error.maxlength">Too long!</span>        
      </div>
    </form>
    <br>
    <hr>
    <code>user = {{ inputExample }}</code><br><br>
    
    <code>myForm.userName.$valid = {{ inputForm.userName.$valid }}</code><br>
    <code>myForm.userName.$error = {{ inputForm.userName.$error }}</code><br><br>
    
    <code>myForm.lastName.$valid = {{ inputForm.lastName.$valid }}</code><br>
    <code>myForm.lastName.$error = {{ inputForm.lastName.$error }}</code><br><br>
    
    <code>myForm.$valid = {{ inputForm.$valid }}</code><br><br>

    <code>myForm.$error.required = {{ !!inputForm.$error.required }}</code><br><br>

    <code>myForm.$error.minlength = {{ !!inputForm.$error.minlength }}</code><br>
    <code>myForm.$error.maxlength = {{ !!inputForm.$error.maxlength }}</code>
  </div>
  <br>
  <hr>


  <!-- input date -->
  <form name="inputDateForm" ng-controller="InputDataController">
    <label>Pick a date in 2013: </label>
      <input name="inputDate" type="date" ng-model="dateExample.value" 
      min="2013-01-01" max="2013-12-31" required /><br>
    <span>value = {{ dateExample.value | date: "yyyy-MM-dd" }}</span><br>
    <span>myForm.input.$valid = {{ inputDateForm.inputDate.$valid }}</span><br>
    <span>myForm.input.$error = {{ inputDateForm.inputDate.$error }}</span><br>
    <span>myForm.$valid = {{ !!inputDateForm.$valid }}</span><br>
    <span>myForm.$error.required = {{ !!inputDateForm.$error.required }}</span><br>
  </form>
  <br>
  <hr>

  <!-- input radio -->
  <form name="inputRadioForm" ng-controller="InputRadioController">
    <label>
      <input ng-model="color.name" type="radio" value="red">
      Red
    </label><br>
    <label>
      <input ng-model="color.name" type="radio" ng-value="specialValue">
      Green
    </label><br>
    <label>
      <input ng-model="color.name" type="radio" value="blue">
      Blue
    </label><br>

    <span>color = {{ color.name }}</span><br>
    <p>Note that `ng-value="specialValue"` sets radio item's value to be the value of `$scope.specialValue`.</p>
  </form>


  <!-- input datetime-local -->

  <!-- input email -->

  <!-- input month -->

  <!-- input number -->

  <!-- input time -->

  <!-- input url -->

  <!-- input week -->



  <script type="text/javascript" src="../scripts/angular.js"></script>
  <script type="text/javascript" src="../scripts/angular-route.js"></script>
  <script type="text/javascript" src="script.js"></script>
</body>

</html>






























